.page {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.image-container img {
  position: absolute;
  object-fit: cover;
  width: 110%;
  transform: translate(-50px, 50px);
  bottom: 0;
}

#tree {
  transform: translate(-150px, 60px);
}
